@font-face{
  font-family: CourierPrime;
  src: url(../fonts/Courier_Prime/CourierPrime-Regular.ttf);
}

@font-face{
  font-family: CourierPrimeBold;
  src: url(../fonts/Courier_Prime/CourierPrime-Bold.ttf);
}
body{
  background-color: #F5AFCB;
}

h1{
  font-family: CourierPrimeBold;
}

h2{
  font-family: CourierPrime;
}

a{
  text-decoration: none;
  color: inherit;
  font-family: CourierPrime;
}
