@font-face{
  font-family: CourierPrime;
  src: url(../fonts/Courier_Prime/CourierPrime-Regular.ttf);
}

@font-face{
  font-family: CourierPrimeBold;
  src: url(../fonts/Courier_Prime/CourierPrime-Bold.ttf);
}

body{
  background-color: #F5AFCB;
}
