@font-face{
  font-family: CourierPrime;
  src: url(../fonts/Courier_Prime/CourierPrime-Regular.ttf);
}

@font-face{
  font-family: CourierPrimeBold;
  src: url(../fonts/Courier_Prime/CourierPrime-Bold.ttf);
}
body{
  background-color: #9CCFE7;
}

h1{
  font-family: CourierPrimeBold;
}

h2, p{
  font-family: CourierPrime;
}

a{
  text-decoration: none;
  color: inherit;
  font-family: CourierPrime;
}


.carousel-inner img {
  margin: auto;
}
img{
  margin:auto;
}
